header {
  background-color: #ece8e8;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 0 20px;

  p {
    font-size: 1.5em;
  }
  nav {
    font-size: 1.5em;
    font-weight: 500;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}

#presentation {
  text-align: center;
  margin-bottom: 15px;
  img {
    width: 15%;
    object-fit: cover;
    border-radius: 5%;
  }
  button {
    border-radius: 10px;
    background-color: #f56849;
    width: 150px;
    height: 80px;
    a {
      text-decoration: none;
    }
  }
}

#About{
  background-color:#ece8e8;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
 margin: 20px 0 0 450px;
  h1{
    font-size: 1.5em;
  }
  h4{
    text-align: center;
  }
  p{
    font-size: 1em;
    margin: 10px 50px 20px;
  }
  button{
    margin-left: 44%;
    border-radius: 10px;
    background-color: #f56849;
    width: 150px;
    height: 80px;
    a {
      text-decoration: none;
    }
  }
}